<!DOCTYPE html>
<html>
    <head>
        <title>chat client</title>
    </head>

    <body>
        <div id=messages>messages go here</div>

        <form action="/create_message" id="message-form" method="post">
            <input type=text id="message-field" name=message-field></input>
            <input type=submit value="Send message"></input>
        </form>

        <script src="http://code.jquery.com/jquery.js"></script>
        <script>
            setInterval(getMessages, 3000);

            function getMessages() {
                $.get("/deliver_new_messages.json", function(result) {
                    $('#messages').html(result.messages);
                });
            }

            function addMessage(evt) {
                evt.preventDefault();
                var newMsg = $('#message-field').val();
                var payload = {"new_message": newMsg};
                $('#message-field').val("");
                $.post("/create_message", payload, getMessages);
            }

            $('#message-form').submit(addMessage);

        </script>
    </body>
</html>
