<!DOCTYPE html>
<html>
    <head>
        <title>chat client</title>
    </head>

    <body>
        <div id=messages></div>

        <form action="/create_message" id="message-form" method="post">
            <input type=text name=message-field></input>
            <input type=submit value="Send message"></input>
        </form>

        <script src="http://code.jquery.com/jquery.js"></script>
        <script>
            setInterval(getMessages, 3000);

            function getMessages() {
                $.get("/deliver_new_messages.json", function(result) {
                    $.("#messages").innerHTML = result.messages;
                });
            }

            $('#message-form').submit(addMessage);

            function addMessage(evt) {
                evt.preventDefault();
                $('#search-yarn').addClass('hidden');
                $('#add-new-yarn').removeClass('hidden');
                var newMsg = $('#message-field').val();
                var payload = {"new_message": newMsg};

                $.post("/create_message", payload);
            }
        </script>
    </body>
</html>
