<!DOCTYPE html>
<html>
    <head>
        <title>chat client</title>
    </head>

    <body>
        test the body
        <!-- <div id=messages></div>

        <form action="/create_message" method="post">
            <input type=text name=message-field></input>
            <input type=submit value="Send message"></input>
        </form>

        <script src="http://code.jquery.com/jquery.js"></script>
        <script>
            setInterval(getMessages, 3000);

            function getMessages() {
                $.get("/deliver_new_messages.json", function(result) {
                    $.("#messages").innerHTML = result.messages;
                });
            }
        </script> -->
    </body>
</html>
